* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    width: 1px;
    background: transparent;
    z-index: -5;
}*/
/* ::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
} */


/**** Stop floating ****/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/***** reusable *****/

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: ClimateCrisis;
    src: url(ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}

.row {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}


/***** header *****/

#video {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: inline-block;
    object-position: 0% 30%;
    position: absolute;
    overflow: hidden;
}

.heading img {
    position: relative;
    width: 125px;
    float: left;
    margin: 1.6rem 1.2rem 1.6rem 0rem;
}

.heading ul {
    margin-left: 20%;
    position: relative;
}

.heading nav ul li {
    list-style-type: none;
}

.heading nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    float: left;
    margin: 1.8rem 1.2rem 0rem 1.2rem;
}

.heading nav ul li a:hover {
    border-bottom: 1px solid white;
}

.heading a.btn:link,
.heading a.btn:visited {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    background-color: white;
    border: 0;
    border-radius: 20px;
    float: right;
    margin-top: 1.25rem;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    transition: all 400ms;
}

.heading a.btn:hover,
.heading a.btn:active {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: all 400ms;
}

.heading-text p,
h1 {
    position: relative;
    color: white;
}

.heading-text h1 {
    margin-top: 120px;
    margin-left: 45px;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 100;
    font-family: 'ClimateCrisis', cursive;
    line-height: 120%;
}

.heading-text p {
    margin-left: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

/***** banners *****/
.banner {
    position: relative;
    border-radius: 8px;
    top: 100px;
    padding: 24px;
    width: 100%;
}

.banner-first {
    background-image: linear-gradient(225deg, #007cc2 20%, #5865f2);
}

.banner>img {
    margin-bottom: 20px;
}

.banner-second {
    background-image: linear-gradient(135deg, #8547c6 25%, #b845c1 62%, #ab5d8a 95%);
}

.image-by-text {
    margin-bottom: 13px;
}

.image-by-text>img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 6px;
}

.image-by-text .text-in {
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

#rocket {
    width: 22px;
    height: 22px;
}

.banner .sub-btn {
    display: inline-block;
    text-decoration: none;
    color: #000000cc;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    background-color: #fff;
    width: 100%;
    margin-top: auto;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: all 200ms;

}

.banner .sub-btn:hover {
    color: #5865f2;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: all 200ms;
}

#btn-h {
    margin-top: 134.26px
}

/***** main *****/
.nitro-bonuses h2 {
    position: relative;
    margin-top: 210px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    color: #23272A;
    margin-bottom: 50px;
}

.photo-segment img {
    /* width: 100%; */
    /* height: 440px; */
    border-radius: 10px;
    transition: all 0.4s;
    display: table-cell;
    margin: 0 auto;

}

.photo-segment li {
    list-style-type: none;
    background-color: #f6f6f6;
    height: auto;
    border-radius: 10px;
    padding: 40px;
    transition: all 200ms;
}

.photo-segment li h3 {
    text-align: center;
    color: #23272A;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
}

.photo-segment li:hover,
.photo-segment2 li:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: all 200ms;

}

.show-more {
    display: table;
    text-align: center;
    width: auto;
    text-decoration: none;
    color: #fff;
    padding: 12px 32px;
    background-color: #23272A;
    border-radius: 30px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: all 400ms;
}

/**** photo segment 2 ****/
.photo-segment2 img {
    /* width: 100%; */
    /* height: 440px; */
    border-radius: 10px;
    transition: all 0.4s;
    display: table-cell;
    margin: 0 auto;

}

.photo-segment2 li {
    list-style-type: none;
    background-color: #f6f6f6;
    height: auto;
    border-radius: 10px;
    padding: 40px;
    transition: all 200ms;
    height: 315px;
}

.photo-segment2 li h4 {
    text-align: center;
    color: #23272A;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 25px;


}

#sec-fif {
    margin-top: 45px;
}

#lastobfd {
    margin-top: 55px;
}

.photo-segment2 li h5 {
    text-align: center;
    color: #23272a9d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.photo-segment2 ul li div {
    text-align: center;
    color: #23272A;
    font-family: 'Open Sans', sans-serif;
}

.forjqphotos {
    display: none;
}

/***** Plans *****/

.plan-panel {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 80px 100px;
}

.plan-panel h2 {
    position: relative;
    /* margin-top: 80px; */
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    color: #23272A;
    margin-bottom: 50px;
}

.row2 p,
.row1 p {
    padding-left: 0;
    padding-right: 0;
}

.row2 img.y {
    margin-left: 50px;
    padding: 30px;
}
.row2 img.n {
    margin-left: 50px;
    padding: 25px;
}
#huge1{
    margin-left: 35px;
    padding: 40px;
}
#huge2{
    margin-left: 35px;

    padding: 45px;
}
.row2 div span{
    display: table;
    width: 100px;
    margin-left: 65px;
    padding: 30px 0px;
}
#wide-text{
    margin-left: 45px;
}

.row1 img {
    margin-left: 40px;
}

.row2,
.row1 {
    display: grid;
    min-height: 68px;
    padding-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-columns: 2fr minmax(180px, 180px) minmax(180px, 180px);
    grid-template-columns: 2fr minmax(180px, 180px) minmax(180px, 180px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-bottom: 1px solid #c7ccd1;
}
.row3{
        display: grid;
        min-height: 68px;
        padding-bottom: 0px;
        grid-auto-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        -ms-grid-columns: 2fr minmax(180px, 180px) minmax(180px, 180px);
        grid-template-columns: 2fr minmax(180px, 180px) minmax(180px, 180px);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
}
div.span-4-of-6 p {
    display: inline-block;
    min-height: 75px;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    color: #23272A;
}
.row3 a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    background-color: #5865f2;
    width: 100%;
    margin-top: 20px;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    transition: all 200ms;
}